@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fade-out-1s {
    animation: fade-out 1s ease-in;
    animation-fill-mode: forwards;
}

.fade-out-05s {
    animation: fade-out 0.5s ease-in;
    animation-fill-mode: forwards;
}

.fade-out-025s {
    animation: fade-out 0.25s ease-in;
    animation-fill-mode: forwards;
}
